            <li><a href="/home">Inicio</a></li>
            <li><a href="/Admin/Paquetes/Index">Paquetes</a></li>
            <li><a href="/Admin/Paquetes/Nuevo">Agregar Paquete</a></li>
            <li><a href="/home/logout">Cerrar sesión</a></li>