
@{
    Layout = "~/Views/Shared/PlantillaPrueba.cshtml";
    
}

@section header{

    <h1>Cabecera</h1>
    @Html.Partial("ViewPartial")
    
}

@section footer{

<footer>desarrollado por Nicolás Cardozo</footer>
}

<h3>Acá va el cuerpo</h3>
