@using mvc_app.Models;

@model List<Universidad>
@{
    ViewBag.Title = "Inicio";
}
@{ Layout = null;}

<h1>Listado de universidades</h1>

<a href="/Universidades/Crear">crear</a>

<a href="/Universidades/Lista">Listado</a>



