
@using mvc_app.Models
@model List<Universidad>
@{
    Layout = null;
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<table>

    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>calle</th>
        <th>cantidad</th>
        <th>acciones</th>
    </tr>
    @foreach (Universidad un in Model)//Model se declara en minuscula y se llama en mayuscula
    {
        <tr>
            <td>@un.Id</td>
            <td>@un.Nombre</td>
            <td>@un.Direccion</td>
            <td>@un.CantidadCarreras</td>
            <td>
                <a href="/Universidades/Actualizar/@un.Id">actualizar</a>
                <a href="/Universidades/Eliminar/@un.Id">eliminar</a>
            </td>
        </tr>
    }

</table>